@font-face {
    font-family: switzer;
    src: url(../../public/fonts/Switzer-Variable.woff2);
}
@font-face {
    font-family: switzer_italic;
    src: url(../../public/fonts/Switzer-VariableItalic.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main{
    background-color: #161616;
}
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


