---
const { title } = Astro.props;
const { address } = Astro.props;
const { img } = Astro.props;
const { bydel } = Astro.props;
const { opening_hours } = Astro.props;
import Card from "../components/Card.astro";
import "../styles/style.css";
import Mainlayout from "../layouts/Mainlayout.astro";
---


<Mainlayout>
    <div class="hero">
        <!-- <h1>{title}</h1> -->
        <img src="imgs/barlummi.webp" alt="">
        <h1 id="overskrift">Dynamisk Titel</h1>
    </div>

    <div class="tekst_sektion">
        <div class="adresse_og_beskrivelse">
            <!-- <h3>{address}</h3>
            <h3>{bydel}</h3> -->
            <h3>Kompagnistræde 12</h3>
            <h3>København</h3>
            <p class="beskrivelse">Bar Lummi can be a cosy and stylish place serving unique cocktails, local beers and light bites in a relaxed atmosphere inspired by Scandinavian minimalism and natural materials.</p>
        </div>
        <div class="card_og_åbningstid">
            <Card />
            <h4>Opening hours:</h4>
            <!-- <p class="åbningstider">{opening_hours}</p> -->
                <p class="åbningstider">17 - 23 Monday - Thursday
                                    <br>17 - 02 Thursday - Saturday</p>
        </div>
    </div>
</Mainlayout>


<style>

         body {
             background-color: #FCFDF7;
         }

        img {
         width: 100%;
       box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
         }

        .hero {
         position: relative;
         }

         
         #overskrift {
             position: absolute;
             bottom: 10px;
             left: 10px;
             font-family: degular-display;
             font-size: 50px;
             color: #fcfdf7;
         }

                  .tekst_sektion {
             font-family: degular;
             margin: 5rem 2rem
         }

                  .adresse_og_beskrivelse {
             justify-self: center;
         }
     
         .card_og_åbningstid {
             justify-self: center;
         }

                  h3, h4 {
             color: #568CFF;
         }

                  h3 {
             font-size: 30px;
             line-height: 1.8rem;
         }

                  h4 {
             font-size: 25px;
             justify-self: center;
         }

                  p {
             font-family: degular-text;
             font-weight: 100;
         }

        .beskrivelse {
             font-size: 20px;
             margin-top: 2rem;
             margin-bottom: 4rem;
         }
     
         .åbningstider {
             font-size: 20px;
             font-weight: 600;
             justify-self: center;
         }



     @media screen and (min-width: 800px) {
         
         body {
             background-color: #FCFDF7;
         }
         img {
             width: 100%;
               box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
               height: 1000px;
               object-fit: cover;
         }
     
         .hero {
             position: relative;
             text-align: center;
         }
     
         #overskrift {
             position: absolute;
             bottom: 20px;
             left: 50px;
             font-family: degular-display;
             font-size: 170px;
             color: #fcfdf7;
         }
     
         .tekst_sektion {
             display: grid;
             grid-template-columns: 1fr 1fr;
             font-family: degular;
             margin: 5rem 10rem 5rem 10rem;
             gap: 20px;
         }
     
         .adresse_og_beskrivelse {
             grid-column: 1 / 2;
             grid-row: 1 / 2;
             justify-self: center;
         }
     
         .card_og_åbningstid {
             grid-column: 2 / 3;
             grid-row: 1 / 2;
             justify-self: center;
         }
     
         h3, h4 {
             color: #568CFF;
         }
     
         h3 {
             font-size: 74px;
             line-height: 4.5rem;
         }
     
         h4 {
             font-size: 38px;
             justify-self: center;
         }
     
         p {
             font-family: degular-text;
             font-weight: 100;
         }
     
         .beskrivelse {
             font-size: 34px;
             margin-top: 4rem;
         }
     
         .åbningstider {
             font-size: 26px;
             font-weight: 600;
             justify-self: center;
         }
     }

</style>