---
const { title } = Astro.props;
const { address } = Astro.props;
const { date_time } = Astro.props;
const { img } = Astro.props;
import "../styles/style.css";
import Button from "./button.astro";
---

<div class="card">
  <!-- <img src="" alt=""/> -->
  <div class="container">
    <div class="tekst">
      <h4>Titel</h4>
      <p>Address</p>
      <p>Date_time</p>
      <!-- <h4>{title}</h4>
      <p>{address}</p>
      <p>{date_time}</p> -->
    </div>
    <Button variant="lilla_btn">More Info</Button>
  </div>
  <div class="blur"></div>
</div>

<style>
  .card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 400px;
    background-image: url("imgs/test.jpeg");
    background-size: cover;
    border-radius: 30px;
  }

  .blur {
    border: solid red;
    background-color: rgba(0, 0, 0, 0.75);
  filter: blur(1.5rem);
  }

  .container {
    grid-row: 2 / 3;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .tekst {
    font-family: switzer;
    color: white;
  }
  img {
    width: 100%;
  }
  .lilla_btn {
    background-color: rgb(117, 78, 242);
    color: white;
  }
  .lilla_btn:hover {
    background-color: none;
  }
</style>
