---
import Button from "./button.astro";
---

<header>
  <img src="/imgs/logo_lilla.svg" alt="" />
  <Button variant="black_btn">Venue Log in</Button>
</header>
<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
